body {
    font-family: "Barlow Condensed";
    text-align: center;
}

h1 {
    font-family: "Poiret One";
    font-size: 40px;
    font-weight: 100px;
    margin: 40px;
}

h2 {
    font-size: 36px;
    font-family: "Poiret One";
    text-align: left;
    padding: 0px;
    margin-left: 90px;
}

h3 {
    font-size: 32px;
    font-family: "Barlow Condensed";
};

h4 {
    font-size: 12px;
    font-family: "Poiret One";
    font-style: bold;
};

.active-cyan-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;
}

.search-box {
    text-align: center;
    width: 250px;
    margin: 0 auto;
    font-size: 18px;
}

.time-search{
    font-size: 18px;
    margin-top: 5px;
}

.temp-type {
    font-size: 18px;
    font-family: "Poiret One";
}

.img-sunrise {
    width: 18%;
}

.current-header {
    margin-right: 100px;
}

span {
    font-size: 20px;
}

.location-box {
    padding: 15px;
    margin: 0 80px 20px 80px;
    border-width: 1px;
    border-style: solid;
    border-color:rgb(199, 196, 196);
    border-radius: 5px;
}

.local-forecast {
    width: 55%;
}

#current-description {
    text-transform: capitalize;
}

.week-title {
    text-align: center; 
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color:rgb(199, 196, 196);
}

.img-week {
    width: 45%;
}

.cities-collection {
    margin: 0 80px 80px 80px;
}

.card-box {
    border-style: solid;
    border-color: rgb(199, 196, 196);
}

.img-city {
    width: 60%;
}
.new-city {
    width: 25%;
}
